{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing Click Tracker</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .message {
            margin-bottom: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="message">
        <img src="{% static 'tracking/image.jpeg' %}" alt="Phishing Image">
        <h2>Thank you for clicking!</h2>
        <p>You have been phished.</p>
    </div>
</body>
</html>
